table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 10px 7px;
	text-align: center;
}

table th {
  background-color: #03375D;
  color: white;
}

h2 {
	text-align: center;
}