{% extends "baseAdmin.html" %}   
{% block content %}                   
    <div class="registerBox">
        <form action="" method="POST">
            <h3 class="cadastrar">Cadastro de Viagem</h3>
            <label class="cidadeOrigem">Cidade Origem:</label>
            <input class="cidadeOrigem" type="text" name="cidadeOrigem">
            <br>

            <label class="cidadeDestino">Cidade Destino:</label>
            <input class="cidadeDestino" type="text"  name="cidadeDestino">
            <br>

            <label class="motoristaViagem">Motoristas:</label>
            <select name="motoristaViagem">
                {% for nome in dataMotoristas %}
                    <option value= {{ nome[0] }}> {{ nome[0] }}</option>
                {% endfor %}
            </select>                
            <br>
            <label class="onibusPlaca">Placa do Onibus:</label>
            <select name="onibusPlaca">
                {% for nome in dataOnibus %}
                    <option value= {{ nome[0] }}> {{ nome[0]}}</option>
                {% endfor %}
            </select>          
            <br>
            <label class="diaViagem">Dia da Viagem:</label>
            <input class="diaViagem" type="text"  name="diaViagem">
            <br>
            
            <label class="horario">Horario de Saida:</label>
            <input class="horario" type="text" name="horario">
            <br>
            <input type="submit" class="botao" name="cadastrar" value="cadastrar">
            </form>
     </div>
{% endblock %}