{% extends "baseAdmin.html" %}   

{% block style %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleAdminSelect.css') }}"> 
{% endblock %}

{% block content %}                   
    <div class="visualizeBox">
        <h2 class="tituloOnibus">Visualizar Onibus</h2>

        <table>
        	<tr>
        		<th>Placa</th>
        		<th>Ano</th>
        		<th>Passageiros</th>
        		<th>Modelo</th>
        		<th>Qtd. Poltronas</th>
                <th>Atualizar</th>
                <th>Deletar</th>
        	</tr>
        	{% for item in dataOnibus %}
        		<tr>
        			{% for count in range (7) %}
        				<td> {{item[count]}} </td>
        			{% endfor %}
        		</tr>
        	{% endfor %}
        </table>
    </div>
{% endblock %}