{% extends "baseAdmin.html" %}  

{% block style %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleAdminSelect.css') }}"> 
{% endblock %}

{% block content %}                   
    <div class="visualizeBox">
        <h2 class="tituloMotoristas">Visualizar Motoristas</h2>

        <table>
        	<tr>
        		<th>Nome</th>
        		<th>Cpf</th>
                <th>Atualizar</th>
                <th>Deletar</th>
        	</tr>
        	{% for item in dataMotoristas %}
        		<tr>
        			{% for count in range (4) %}
        				<td> {{item[count]}} </td>
        			{% endfor %}
        		</tr>
        	{% endfor %}
        </table>
    </div>
{% endblock %}